apiVersion: apps/v1
kind: Deployment
metadata:
  name: soloist-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: soloist-ui
  template:
    metadata:
      labels:
        app: soloist-ui
      annotations:
        commit.sha: "${GIT_COMMIT_SHA}"
    spec:
      containers:
        - name: app
          image: $DEPLOY_IMAGE
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5